<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="RedisReadConnection" connectionString="127.0.0.1:6379,password=asd2828,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING="/>
    <!--redis写操作，用与同步DB-->
    <add name="RedisWriteConnection" connectionString="183.60.189.56:6379,password=Xyhis@#Xyhis,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING="/>
  </connectionStrings>
  <appSettings>
    <add key="Data Source" value="183.60.189.56/orcl" />
    <add key="Password" value="asd2828" />
    <add key="Redis.DefaultKey" value="LHZSYLT" />
    <add key="XYHis.RabbitMQ.HostName" value="183.60.189.56" />
    <add key="XYHis.RabbitMQ.UserName" value="xyhis.yun" />
    <add key="XYHis.RabbitMQ.Password" value="yun.xyhis.com" />
    <add key="XYHis.RabbitMQ.ExchangeName" value="xyhis_exchange" />
    <add key="XYHis.RabbitMQ.Routingkey" value="LHZSYLT" />
    <add key="XYHis.FrameWork.Debug" value="true" />
    <add key="XYHis.FrameWork.Client" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FRAMEWORK_DB_KEY" value="XYHis.Framework.ConfigDB" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="XYHis.Framework.AppLogEnabled" value="true" />
  </appSettings>
</configuration>
