<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="RedisReadConnection" connectionString="10.35.1.226:6379,password=asd2828,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING=" />
    <add name="RedisWriteConnection" connectionString="183.60.189.53:6379,password=Orm@#Orm0411,keepAlive=180,syncTimeout=100000,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING=" />
  </connectionStrings>
  <appSettings>
    <add key="Orm.FrameWork.Debug" value="false" />
    <add key="Orm.FrameWork.Client" value="false" />
    <add key="FRAMEWORK_DB_KEY" value="Orm.Framework.ConfigDB"/>
    <add key="WriteClientHttpWebRequestLog" value="true" />
    <add key="FRAMEWORK_UPDATEDB_KEY" value="Orm.Framework.ConfigUpdateDB" />
    <add key="FRAMEWORK_LINK_KEY" value="41c57cc324a81731" />
    <add key="41c57cc324a81731" value="150" />
    <add key="Version" value="1.0.2" />
    <add key="IsEnableUpdate" value="0" />
    <add key="EmrDirectory" value="Emr" />
    <!--联合众思启用基础库-->
    <add key="IsMainLocation" value="false" />
    <!--Redis服务启用-->
    <add key="IsEnableRedis" value="true" />
    <!--<add key="FRAMEWORK_LINK_KEY" value="a4e88fa86669ad9" bfd4a3f4c9c44cc5/>-->
    <!--UserID的最大长度-->
    <add key="Orm.Framework.AppLogEnabled" value="true" />
    <!--a4e88fa86669ad9-->
    <!--是否开启远程会诊 1开启 0 禁用-->
    <add key="IsEnableConversation" value="0" />
    <!--使用的扬声器的索引-->
    <add key="SpeakerIndex" value="0" />
    <!--使用的麦克风的索引-->
    <add key="MicrophoneIndex" value="0" />
    <!--公司服务端-->
    <!--<add key="ServiceAddress" value="http://120.77.3.221:8097/Handler.api" />
    <add key="UpdateAddress" value="http://120.77.3.221:8097/Update" />-->
    <!--联合众思服务端-->
    <add key="ServiceAddress" value="http://10.35.1.90:8099/Handler.api" />
    <add key="UpdateAddress" value="http://183.60.189.53:8090/Update" />
    <!--Bengin短信API参数配置-->
    <add key="SN" value="7SDK-LHW-0588-MKZSS" />
    <add key="PWD" value="631964" />
    <add key="EName" value="广州市行心信息科技有限公司" />
    <add key="UName" value="陈世华" />
    <add key="Tel" value="010-58750646" />
    <add key="Mobile" value="13424077768" />
    <add key="Email" value="babyzj@live.cn" />
    <add key="Fax" value="010-58750500" />
    <add key="Address" value="广州市萝岗区 科学大道33号,视联科技园 B栋501-505" />
    <add key="Postcode" value="102208" />
    <!--End短信API参数配置-->
    <add key="Title" value="TCMeeting视频会议系统 2017" />
    <!--服务器IP -->
    <add key="ServerIP" value="183.60.189.56"/>
    <add key="ServerPort" value="4538"/>
    <add key="OmcsPort" value="4534"/>
    <!-- P2PDisabled , P2PChannelFirst-->
    <add key="ChannelMode" value="P2PDisabled"/>
    <add key="SpeakerIndex" value="0"/>
    <add key="MicrophoneIndex" value="0"/>
    <!--摄像头采集分辨率的大小 [160,120] [320,240] [640,480]-->
    <add key="CameraVideoSize" value="320,240"/>
    <!--UserID的最大长度-->
    <add key="MaxLengthOfUserID" value="20"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--联合众思MQ服务端-->
    <add key="Orm.RabbitMQ.HostName" value="183.60.189.53" />
    <add key="Orm.RabbitMQ.Routingkey" value="LHZSYLT_TEST" />
    <add key="Redis.DefaultKey" value="LHZSYLT_TEST" />
    <!--公司MQ服务端-->
    <!--<add key="Orm.RabbitMQ.HostName" value="120.77.3.221" />
    <add key="Orm.RabbitMQ.Routingkey" value="XXHISYYLT" />
    <add key="Redis.DefaultKey" value="XXHISYYLT" />-->
    <add key="Orm.RabbitMQ.UserName" value="Orm.yun" />
    <add key="Orm.RabbitMQ.Password" value="yun.Orm.com" />
    <add key="Orm.RabbitMQ.ExchangeName" value="Orm_exchange" />
  </appSettings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OMCS" publicKeyToken="ba1538489f75683e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.4.0" newVersion="3.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESFramework" publicKeyToken="ba1538489f75683e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ZhongShanDrugStoreSoap11Binding" />
        <binding name="SDKServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://183.60.189.46:8072/services/ZhongShanDrugStore.ZhongShanDrugStoreHttpSoap11Endpoint"
          binding="basicHttpBinding" bindingConfiguration="ZhongShanDrugStoreSoap11Binding"
          contract="GetDrugStoreDtl.ZhongShanDrugStorePortType" name="ZhongShanDrugStoreHttpSoap11Endpoint" />
      <endpoint address="http://sdk.univetro.com.cn:6200/sdk/SDKService" binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding" contract="MessageSDKService.SDKClient" name="SDKService" />
    </client>
  </system.serviceModel>
</configuration>